*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {

  display: flex;
 

}

#minhaLista{
  margin: 15px 5px 5px;
  border: 1px solid #ccc;
  width: 10%;

}

#res1{
  position: absolute;
  left: -10000px;
}


#notes{
 
  background: rgb(181, 220, 238);
  margin: 5px 0px;
  padding: 10px;
  width: 100%;
  border: none;

}
#titulo{
 

  margin: 10px 5px 0px 0px;
  padding: 0px;
  text-align: center;
  font-size: 22px;
  width: 100%;
  height: 30px;
  border: none;


}

#result{
width: 30%;

height: 500px;
}

#form1{
margin: 10px;
padding: 10px;
width: 40%;
color: #747474;


}

#form1 legend{
  font-size: 18px;
 
}



#form1 fieldset{
  padding: 10px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #747474
}

#btn{
  padding: 5px 15px;
  font-size: 15px;
  background: #2e6cb3;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

#btn:hover{
  background: #419dbf
}

.btn2{
  padding: 5px 15px;
  font-size: 10px;
  border: none;
  width: 100%;

}